<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.product.ProductMapper">

<select id="productContent" resultType="com.example.demo.dto.ProductDto">
  select * from product where pcode=#{pcode}
</select>

<select id="getDae" resultType="String">
  select name from dae where code=#{dae}
</select>

<select id="getSo" resultType="String">
  select name from so where code=#{so} and daecode=#{daecode}
</select>

<select id="getChong" resultType="Integer">
  select ceil(count(*)/15) from product where 
  <if test="chk==1"> pcode like concat(#{str},'%') </if>
    <if test="chk==0">  title like concat('%',#{str},'%') </if>
</select>

<select id="isOk" resultType="Integer">
  select count(*) from jjim where pcode=#{pcode} and userid=#{userid}
</select>


<select id="productList">
  select * from product where
    <if test="chk==1"> pcode like concat(#{str},'%') </if>
    <if test ="chk==0"> title like concat('%',#{str},'%') or etc like concat('%',#{str},'%') </if>
      order by ${orderStr} limit #{index},15
</select>

<select id="getReview" resultType="com.example.demo.dto.ReviewDto">
  select *,concat( left(userid,2) , rpad("",char_length(userid)-4,"*") , right(userid,2) ) as userid2
  from review where pcode=#{pcode}
</select>

<select id="getInquiry" resultType="com.example.demo.dto.InquiryDto">
  select i.*, p.title from inquiry as i inner join product as p on i.pcode=p.pcode where i.pcode=#{pcode} order by i.ref desc, i.qna asc
</select>

<insert id="jjimOk">
  insert into jjim(userid,pcode,writeday)
  values(#{userid},#{pcode},now())
</insert>
  
<delete id="jjimDel">
  delete from jjim where userid=#{userid} and pcode=#{pcode}
</delete>

<insert id="addCart">
  insert into cart(pcode,su,userid,writeday) values(#{pcode},#{su},#{userid},now())
</insert>

<update id="upCart">
  update cart set su=su+#{su} where userid=#{userid} and pcode=#{pcode}
</update>

<select id="isCart" resultType="Boolean">
  select count(*) from cart where userid=#{userid} and pcode=#{pcode}
</select>

<select id="getMember" resultType="com.example.demo.dto.MemberDto">
  select * from member where userid=#{userid}
</select>

<select id="getGibon" resultType="com.example.demo.dto.BaesongDto">
  select * from baesong where userid=#{userid} and gibon=1
</select>

<select id="baesongList" resultType="com.example.demo.dto.BaesongDto">
  select * from baesong where userid=#{userid} order by gibon desc
</select>

  <insert id="baesongAddOk" parameterType="com.example.demo.dto.BaesongDto">
    insert into baesong(userid,zip,juso,jusoEtc,phone,req,gibon,name)
    values(#{userid},#{zip},#{juso},#{jusoEtc},#{phone},#{req},#{gibon},#{name})
  </insert>

<delete id="baesongDel">
  delete from baesong where id=#{id}
</delete>

<select id="baesongUp" resultType="com.example.demo.dto.BaesongDto">
  select * from baesong where id=#{id}
</select>

<update id="baesongUpOk" parameterType="com.example.demo.dto.BaesongDto">
  update baesong set name=#{name}, zip=#{zip}, juso=#{juso}, req=#{req},
  jusoEtc=#{jusoEtc},phone=#{phone},gibon=#{gibon} where id=#{id}
</update>

<update id="setGibon">
  update baesong set gibon=0 where userid=#{userid}
</update>

<select id="getJumunCode" resultType="Integer">
  select ifnull(max(right(jumuncode,3)),0)+1 from gumae where jumuncode like concat(#{jumuncode},'%')
</select>

<insert id="gumaeOk" parameterType="com.example.demo.dto.GumaeDto">
  insert into gumae(userid,baeId,pcode,su,sudan,card,halbu,bank,comm,useJuk,cprice,jumuncode,writeday)
  values(#{userid},#{baeId},#{pcode},#{su},#{sudan},#{card},#{halbu},#{bank},#{comm},#{useJuk},#{cprice},#{jumuncode},now())
</insert>

<update id="minusJuk">
  update member set juk=juk-#{juk} where userid=#{userid}
</update>

<select id="jumunContent" resultType="com.example.demo.dto.GumaeDto">
  select * from gumae where jumuncode=#{jumuncode}
</select>

<delete id="reviewDel">
  delete from review where id=#{id}
</delete>

<update id="reviewUpOk" parameterType="com.example.demo.dto.ReviewDto">
  update review set title=#{title}, content=#{content} where id=#{id}
</update>

<select id="getCount" resultType="Integer">
  select count(*) from review where pcode=#{pcode}
</select>

<update id="chgProduct">
  update product set review=#{len} where pcode=#{pcode}
</update>

<update id="chgReview">
  update gumae set review=0 where id=#{id}
</update>

<select id="getRef" resultType="Integer">
  select ifnull(max(ref),0)+1 from inquiry
</select>

<insert id="inquiryOk" parameterType="com.example.demo.dto.InquiryDto">
  insert into inquiry(userid, content, pcode, ref, qna, writeday)
  values(#{userid}, #{content}, #{pcode}, #{ref}, 1, now())
</insert>

<insert id="answerInquiry" parameterType="com.example.demo.dto.InquiryDto">
  insert into inquiry(userid,content,pcode,ref,qna,writeday)
  values('admin',#{content},#{pcode},#{ref},2,now())
</insert>

<insert id="answer" parameterType="com.example.demo.dto.InquiryDto">
  insert into inquiry(userid, content, pcode, ref, qna, writeday)
  values('admin', #{answer}, #{pcode}, #{ref}, 2, now())
</insert>

<select id="getInquiryById" resultType="com.example.demo.dto.InquiryDto">
  select * from inquiry where id=#{id}
</select>

<delete id="delComment" parameterType="int">
  delete from inquiry where id=#{id}
</delete>

<select id="answerInquiryCount" resultType="int" parameterType="int">
  select count(*) from inquiry where qna=2 and ref=#{ref}  
</select>

<select id="chkBae" resultType="boolean" parameterType="String">
  select count(*) from baesong where userid=#{userid} and gibon=1
</select>

<select id="gumaeCoupon" resultType="com.example.demo.dto.MyCouponDto">
    select m.* , (select halin from coupon where code=m.code) as halin from myCoupon m
    where userid=#{userid} and used=0
</select>

</mapper>