@charset "UTF-8";

body, * {
  margin: 0;
  padding: 0;
}
ul, ol {
  list-style: none;
}
table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
}

/* layout */
#wrap {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
}
header {
  flex: 0;
}
header h2 {
  padding: 20px 0;
  text-align: center;
}
header nav {
  margin-bottom: 30px;
}
header nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
header h2 {
  padding: 50px 0 30px;
  text-align: center;
}
header nav {
  margin-bottom: 30px;
}
header nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
header nav ul li {
  background-color: #fff;
  border: 1px solid #222;
}
header nav ul li a {
  width: 100px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  color: #222;
  display: block;
}
header nav ul li:hover {
  background-color: #222;
  border: 1px solid #222;
}
header nav ul li:hover a {
  color: #fff;
}
#content {
  flex: 1;
  margin: 0 auto;
  width: 1000px;
  margin-bottom: 100px;
}
#content h3 {
  padding: 20px;
  text-align: center;
}

#content table {
  margin: 0 auto;
  border-top: 2px solid #222;;
}
#content table caption {
  padding-bottom: 10px;
  text-align: right;
}
#content table input[type=button] {
  padding: 0 10px;
  width: auto;
  height: 24px;
  line-height: 24px;
  text-align: center;
  background: #222;
  border: 1px solid #222;
  border-radius: 2px;
  color: #fff;
  font-size: 14px;
  box-shadow: 0 0 3px #999;
  cursor: pointer;
}
#content table td input[type=button]:nth-child(odd) {
  background: #666;
  border: 1px solid #222;
}
#content table td input[type=button]:nth-child(even) {
  background: #aaa;
  border: 1px solid #666;
}
#content table td input[type=button]:hover {
  background: #222;
  border: 1px solid #222;
}
#content table th,
#content table td {
  padding: 0 5px;
  line-height: 30px;
  border-bottom: 1px solid #aaa;
  font-weight: 400;
}
#content table tr:last-child th,
#content table tr:last-child td {
  border-bottom: 1px solid #222;
}
#content table .btnWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
#content table + .btnWrap {
  margin-top: 20px;
  text-align: center;
}
#content table + .btnWrap input[type=button],
#content table + .btnWrap input[type=submit] {
  padding: 0 10px;
  width: auto;
  height: 34px;
  line-height: 34px;
  text-align: center;
  background: #222;
  border: 1px solid #222;
  border-radius: 2px;
  color: #fff;
  font-size: 14px;
  box-shadow: 0 0 3px #999;
  cursor: pointer;
}
footer {
  flex: 0;
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #e2e2e2;
  font-size: 14px;
  position: relative;
}
footer .btnLogout {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
footer .btnLogout input[type=button] {
  width: 60px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  background: #222;
  border: 1px solid #222;
  border-radius: 3px;
  color: #fff;
  font-size: 14px;
  box-shadow: 0 0 5px #999;
  cursor: pointer;
}