<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.ManagerMapper">
  
  <select id="loginOk" resultType="com.example.demo.AdminMemberDto">
    select name , level , userid from adminMember
    where userid=#{userid} and pwd=#{pwd}
  </select>


  <select id="memberList" resultType="com.example.demo.AdminMemberDto">
    select * from adminMember
    order by level desc
  </select>

  <insert id="addMemberOk" parameterType="com.example.demo.AdminMemberDto">
    insert into adminMember(name,userid,pwd,level)
    values(#{name},#{userid},#{pwd},#{level})
  </insert>

  <delete id="delMember">
    delete from adminMember
    where id=#{id}
  </delete>

  <select id="getMember" resultType="com.example.demo.AdminMemberDto">
    select * from adminMember
    where id=#{id}
  </select>

  <update id="upMemberOk" parameterType="com.example.demo.AdminMemberDto">
    update adminMember
    set name=#{name} , userid=#{userid}
    , level=#{level}
    where id=#{id}
  </update>

  <select id="useridOk" resultType="Boolean">
    select count(*) 
    from adminMember
    where userid=#{userid}
  </select>

  <select id="couponList" resultType="com.example.demo.CouponDto">
    select * from coupon order by writeday desc
  </select>

  <select id="getDae" resultType="com.example.demo.DaeDto">
    select * from dae order by id asc
  </select>

  <select id="getCode" resultType="Integer">
    select ifnull(max(right(code,3)),0)+1 from coupon where code like concat(#{code},'%')
  </select>

  <insert id="couponOk" parameterType="com.example.demo.CouponDto">
    insert into coupon(scope,halin,gigan,afterDay,code,writeday)
    values(#{scope},#{halin},#{gigan},#{afterDay},#{code},now())
  </insert>
  
  <delete id="delCoupon">
    delete from coupon where id=#{id}
  </delete>

  <update id="upCoupon" parameterType="com.example.demo.CouponDto">
    update coupon set scope=#{scope}, halin=#{halin}, gigan=#{gigan}, afterDat=#{afterDay}
    where id=#{id}
  </update>

  <insert id="jumunOk">
    insert into jumun(pcode,su,jumunMan,writeday)
    values(#{pcode},#{su},#{userid},now())
  </insert>

  <select id="jumunList" resultType="HashMap">
    select p.title, j.* from product p inner join jumun j
    on p.pcode=j.pcode
    where j.pcode like concat(#{daeCode},'%')
  </select>

  <select id="getChong" resultType="Integer">
    select ifnull(ceil(count(*)/${rec}), 0) from product
    where pcode like concat(#{pcode},'%')
  </select>

  <select id="stockView" resultType="com.example.demo.ProductJumunDto">
    select p.pimg,p.title,p.su,p.pcode,j.su as jsu, j.state,j.pass,j.fail,j.id,j.writeday
    from product p left join jumun j on p.pcode=j.pcode where p.pcode like concat(#{pcode},'%')
    order by p.su asc limit #{index},${rec}
  </select>

  <select id="jumunCheck" resultType="com.example.demo.ProductJumunDto">
    select p.title , j.* 
    from product p inner join jumun j
    on p.pcode=j.pcode 
    where j.pcode like concat(#{pcode},'%')  
  </select>

  <update id="receiptOk" parameterType="com.example.demo.JumunDto">
    update jumun
    set state=1 , pass=#{pass} , fail=#{fail} , auditMan=#{auditMan} , reWriteday=now()
    where id=#{id}
  </update>
</mapper>