/* 공통 */
body {
  margin: 0;
  padding: 0;
}
[class*="btn0"] {
  border: none;
  transition: background .3s ease-in;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  box-sizing: border-box;
  min-width: fit-content;
}
.btn01 {
  background: #4A90E2;
  /* border: 1px solid #2C6CC9; */
  color: #fff;
}
.btn01:hover {
  background: #2C6CC9;
}
.btn02 {
  background-color: #888;
  /* border: 1px solid #666; */
  color: #fff;
}
.btn02:hover {
  background: #666;
}
.btn03 {
  background: #fff;
  border: 1px solid #4A90E2;
  color: #4A90E2;
}
.btn03:hover {
  border: 1px solid #2C6CC9;
}
.btn04 {
  background: #fff;
  border: 1px solid #888;
  color: #666;
}
.btn04:hover {
  border: 1px solid #666;
  color: #4b4b4b;
}


#baesongUp {
  padding: 30px;
  color: #495057;
}
#baesongUp h3.page {
  margin: 0;
  font-size: 24px;
  color: #1c1c1c;
}
#baesongUp table {
  margin-top: 30px;
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
}
#baesongUp table th,
#baesongUp table td {
  padding: 0 10px;
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  vertical-align: text-top;
}
#baesongUp table td .flexBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}
#baesongUp table td .flexBox .btn02 {
  flex: 0;
  height: 30px;
}
#baesongUp table td .flexBox.start {
  justify-content: start;
}
#baesongUp table td .flexBox.start input {
  flex: 0;
}
#baesongUp table td input:not([type=button]),
#baesongUp table td select {
  margin: 5px 0;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #495057;
  color: #495057;
  background: #fff;
}
#baesongUp input[type="text"],
#baesongUp table td select {
  padding: 0 10px;
  height: 30px;
}
#baesongUp table td select {
  width: auto;
}
#baesongUp .btnWrap {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#baesongUp .btnWrap [class*="btn"] {
  width: 80px;
  height: 40px;
}