/* 공통 */
[class*="btn0"] {
  padding: 0 10px;
  border: none;
  transition: background .3s ease-in;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  box-sizing: border-box;
}
.btn01 {
  background: #4A90E2;
  /* border: 1px solid #2C6CC9; */
  color: #fff;
}
.btn01:hover {
  background: #2C6CC9;
}
.btn02 {
  background-color: #888;
  /* border: 1px solid #666; */
  color: #fff;
}
.btn02:hover {
  background: #666;
}
.btn03 {
  background: #fff;
  border: 1px solid #4A90E2;
  color: #4A90E2;
}
.btn03:hover {
  border: 1px solid #2C6CC9;
}
.btn04 {
  background: #fff;
  border: 1px solid #888;
  color: #666;
}
.btn04:hover {
  border: 1px solid #666;
  color: #4b4b4b;
}

/* 게시판 목록 */
#list {
  padding: 50px 0;
  color: #495057;
}
#list h3.page {
  margin-bottom: 20px;
  padding: 30px 0;
  font-size: 30px;
  color: #1c1c1c;
}
#list table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  border-top: 1px solid #1c1c1c;
  border-bottom: 1px solid #1c1c1c;
}
#list table th,
#list table td {
  padding: 15px 10px;
  color: #1c1c1c;
}
#list table th {
  border-bottom: 1px solid #1c1c1c;
}
#list table tr:not(:first-child) td {
  border-top: 1px solid #ADB5BD;
}
#list table td:not(.tit) {
  text-align: center;
}
#list table td.tit a:hover {
  text-decoration: underline;
}
#list table td .btnWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
#list table td .btnWrap [class^="btn"] {
  padding: 5px;
  width: 60px;
}
#list table td .noList {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#list table + .btnWrap {
  margin-top: 20px;
  display: flex;
  justify-content: end;
  gap: 10px;
}
#list table + .btnWrap [class^="btn"] {
  min-width: 80px;
  height: 40px;
}

.paging {
margin-top: 50px;
display: flex;
align-items: center;
justify-content: center;
}
.paging a {
margin: 0 5px;
}
.paging a.prev01 {
width: 30px;
height: 30px;
background: url(/static/images/admin/pageP_01.png) center center / contain no-repeat;
}
.paging a.prev02 {
width: 30px;
height: 30px;
background: url(/static/images/admin/pageP_02.png) center center / contain no-repeat;
}
.paging a.next01 {
width: 30px;
height: 30px;
background: url(/static/images/admin/pageN_01.png) center center / contain no-repeat;
}
.paging a.next02 {
width: 30px;
height: 30px;
background: url(/static/images/admin/pageN_02.png) center center / contain no-repeat;
}
.paging .pageList {
display: flex;
align-items: center;
justify-content: center;
}
.paging .pageList li {
padding: 0 5px;
}
.paging .pageList a {
width: 30px;
height: 30px;
font-size: 20px;
line-height: 20px;
display: flex;
justify-content: center;
align-items: center;
}
.paging .pageList .now a {
background-color: #1c1c1c;
color: #fff;
border-radius: 50%;
}
.paging .disabled {
  pointer-events: none;
  opacity: 0.5;
  cursor: default;
}
.paging .now {
  pointer-events: none;
  /* cursor: default; */
}


/* 게시판 상세보기 */
#view {
  padding: 50px 0;
  color: #495057;
}
#view h3.page {
  margin-bottom: 20px;
  padding: 30px 0;
  font-size: 30px;
  color: #1c1c1c;
}
#view table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  border-top: 1px solid #1c1c1c;
  border-bottom: 1px solid #1c1c1c;
}
#view .btnWrap {
  margin-top: 20px;
  display: flex;
  justify-content: end;
  gap: 10px;
}
#view .btnWrap + .btnWrap {
  margin-top: 10px;
}
#view .btnWrap [class^="btn"] {
  min-width: 80px;
  height: 40px;
}

#view table.table01 td {
  padding: 10px;
  border-top: 1px solid #1c1c1c;
}
#view table.table01 tr:first-child td {
  border-top: none;
}
#view table.table01 .titBox {
  padding:10px 0;
  font-size: 24px;
  font-weight: 600;
}
#view table.table01 .flexBox {
  padding:5px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#view table.table01 .dateBox {}
#view table.table01 .viewsBox {}
#view table.table01 .fileBox {} /* margin, padding 넣지 말것 */
#view table.table01 .fileBox p {
  padding: 5px 5px 5px 25px;
  background: url(/static/images/board/download.png) 5px 10px / 15px auto no-repeat #F0F6FB;
  font-size: 15px;
}
#view table.table01 .fileBox p + p {
  margin-top: 2px;
}
#view table.table01 .fileBox p:last-child {
  margin-bottom: 10px;
}
#view table.table01 .fileBox p a:hover {
  text-decoration: underline;
}
#view table.table01 .imgBox {} /* margin, padding 넣지 말것 */
#view table.table01 .imgBox img {
  margin: 0 auto;
  max-width: 100%;
  display: block;
}
#view table.table01 .txtBox {
  padding: 50px 20px;
  line-height: 2.0;
}

/* FAQ */
#faq {
  padding: 50px 0;
  color: #495057;
}
#faq h3.page {
  margin-bottom: 20px;
  padding: 30px 0;
  font-size: 30px;
  color: #1c1c1c;
}
#faq .faqList {
  border-top: 2px solid #1c1c1c;
  border-bottom: 2px solid #1c1c1c;
}
#faq .faqList dt,
#faq .faqList dd {
  padding: 20px;
}
#faq .faqList dt {
  position: relative;
  border-top: 1px solid #1c1c1c;
  cursor: pointer;
}
#faq .faqList dl:first-child dt {
  border-top: none;
}
#faq .faqList dt::after {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%) rotateZ(0deg);
  width: 30px;
  height: 30px;
  background: url(/static/images/board/arrowD.png) center center / 80% no-repeat;
  content: "";
  transition: transform 0.3s ease-in-out;
}
#faq .faqList dd {
  padding: 0 20px;
  height: 0;
  overflow: hidden;
  opacity: 0;
  border-top: none;
  background: #f8f8f8;
  font-size: 14px;
  transition: all 0.5s ease ;
}
#faq .faqList dl.open dt::after {
  transform: translateY(-50%) rotateZ(180deg);
}
#faq .faqList dl.open dd {
  padding: 20px;
  height: fit-content;
  opacity: 1;
  border-top: 1px solid #ADB5BD;
}
