/* 공통 */
[class*="btn0"] {
  border: none;
  transition: background .3s ease-in;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  box-sizing: border-box;
}
.btn01 {
  background: #4A90E2;
  /* border: 1px solid #2C6CC9; */
  color: #fff;
}
.btn01:hover {
  background: #2C6CC9;
}
.btn02 {
  background-color: #888;
  /* border: 1px solid #666; */
  color: #fff;
}
.btn02:hover {
  background: #666;
}
.btn03 {
  background: #fff;
  border: 1px solid #4A90E2;
  color: #4A90E2;
}
.btn03:hover {
  border: 1px solid #2C6CC9;
}
.btn04 {
  background: #fff;
  border: 1px solid #888;
  color: #666;
}
.btn04:hover {
  border: 1px solid #666;
  color: #4b4b4b;
}

/* 메인 */
#lecture .visual img {
  max-width: 100%;
  display: block;
}
#lecture.inner {
  padding-top: 50px;
}
#lecture h3 {
  margin: 50px 0 20px;
}
#lecture .lecture {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px 30px;
}
#lecture .lecture li {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
}
#lecture .lecture img {
  width: 200px;
  display: block;
  flex:0;
}
#lecture .lecture .info {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#lecture .lecture .info p {}
#lecture .lecture .info .btn01 {
  width: 100%;
  height: 30px;
}

/* 달력 */
#lecture .calwrap {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 50px;
}
#lecture .calwrap .info {
  flex: 0 0 450px;
}
#lecture .calwrap .info h3 {
  /* padding: 10px 0 20px; */
  /* font-size: 24px;
  font-weight: 600; */
}
#lecture .calwrap .info img {
  width: 100%;
  display: block;
}
#lecture .calendar .top {
  margin: 50px 0 25px;
  text-align: center;
}
#lecture .cal table {
  table-layout: fixed;
  border-collapse: collapse;
}
#lecture .cal thead th,
#lecture .cal tbody td {
  padding: 4px;
}
#lecture .cal thead th {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}
#lecture .cal tbody td {
  position: relative;
  height: 80px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  vertical-align: text-top;
}
/* #lecture .cal thead th + th, */
#lecture .cal tbody td + td {
  border-left: 1px solid #000;
}
#lecture .cal th.sun,
#lecture .cal td.sun b {
  color: #f00;
}
#lecture .cal th.sat,
#lecture .cal td.sat b {
  color: #00f;
}
#lecture .cal tbody td .status {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 10px;
}
#lecture .cal tbody td .status .reserveBtn,
#lecture .cal tbody td .status span {
  padding: 4px;
  width: 70px;
  height: 30px;
  display: block;
  box-sizing: border-box;
  text-align: center;
  font-size: 14px;
  line-height: 22px;
  border-radius: 15px;
  color: #fff;
}
#lecture .cal tbody td .status p {
  font-size: 12px;
  text-align: center;
}
#lecture .cal tbody td .status p i {
  font-style: normal;
  font-weight: 600;
}
#lecture .cal tbody td .reserveBtn {
  border: none;
  background: #2C6CC9;
  cursor: pointer;
}
#lecture .cal tbody td span {
  background: #999;
}
#lecture .reserveInfo {
  padding: 50px 0;
}
#lecture .reserveInfo h3 {
  padding: 20px 0;
  text-align: center;
  /* display: block; */
}
#lecture .reserveInfo strong {
  padding: 20px 0;
  text-align: center;
  display: block;
}
#lecture .reserveInfo table {
  table-layout: fixed;
  border-collapse: collapse;
  margin: 0 auto;
  width: 600px;
}
#lecture .reserveInfo tbody th,
#lecture .reserveInfo tbody td {
  padding: 10px;
  border-top: 1px solid #000;
  border-top: 1px solid #000;
  font-size: 14px;
}
#lecture .reserveInfo tbody th {
  background: #f8f8f8;
}
#lecture .reserveInfo tbody tr:first-child th,
#lecture .reserveInfo tbody tr:first-child td {
  border-top: 2px solid #000;
}
#lecture .reserveInfo tbody tr:last-child th,
#lecture .reserveInfo tbody tr:last-child td {
  border-bottom: 2px solid #000;
}
#lecture .reserveInfo tbody td select {
  padding: 4px;
  width: 100%;
  height: 30px;
  box-sizing: border-box;
  line-height: 22px;
  border: 1px solid #4b4b4b
}
#lecture .reserveInfo tfoot td {
  text-align: center;
}
#lecture .reserveInfo tfoot td p {
  padding: 20px 0;
}
#lecture .reserveInfo tfoot td input[type=submit] {
  padding: 4px 15px;
  background: #1c1c1c;
  border: none;
  border-radius: 4px;
  height: 30px;
  color: #fff;
  cursor: pointer;
}
/*
참고

Bg
#F8F9FA (footer)

EAF3FC
F0F6FB
F3F8FD
F6FAFD

Border
#EDEDED

Point
#4A90E2

Text
#1C1C1C
#495057 (기본)
#6C757D (중간강조_부제, 설명)
#868E96 (흐릿한느낌_부가정보, 날씨)
#ADB5BD	(연한느낌_placeholder)


etc
#F5F5F5 (라이트 그레이)
*/