/* 버튼 */
#login [class*="btn"] {
  border: none;
  transition: background .3s ease-in;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}
#login .btn01 {
  background: #4A90E2;
  /* border: 1px solid #2C6CC9; */
  color: #fff;
}
#login .btn01:hover {
  background: #2C6CC9;
}
#login .btn02 {
  background-color: #888;
  /* border: 1px solid #666; */
  color: #fff;
}
#login .btn02:hover {
  background: #666;
}

/* 로그인 */
#login {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
#login .inner {
  padding-top: 100px;
}
#login div:not(.inner, #useridSearch, #pwdSearch) {
  width:400px;
  margin:auto;
  margin-top:20px;
}
#login #form input[type=text],
#login #form input[type=password],
#login #form input[type=submit] {
  padding: 0 5px;
  width:100%;
  height:40px;
  outline:none;
  box-sizing: border-box;
}
#login #form input[type=text],
#login #form input[type=password] {
  border: 1px solid #000;
}
#login #form + div span {
  font-size: 14px;
  cursor: pointer;
}
#login #form + div span + span {
  position: relative;
  margin-left: 10px;
  padding-left: 12px;
}
#login #form + div span + span::after {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 1px;
  height: 12px;
  background: #6C757D;
  content:"";
}
#login .form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  min-height: 300px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fff;
  box-shadow: 0 0 10px #999;
}


#login .form strong {
  margin-bottom: 15px;
}
#login .form form {
  width: 300px;
}
#login .form input[type=text],
#login .form input[type=submit],
#login .form input[type=button]:not(.close) {
  margin-top:6px;
  padding: 0 5px;
  width:100%;
  height:40px;
  outline:none;
  box-sizing: border-box;
}
#login .form input[type=submit],
#login .form input[type=button] {
  border: none;
}
#login .form input[type=text] {
  border: 1px solid #000;
}
#login .form input[type=button].close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 25px;
  height: 25px;
  opacity: .8;
  background: url(/static/images/login/close.png) center center / 60% no-repeat;
  font-size: 0;
  cursor: pointer;
}