#prodList.inner {
  display: flex;
  align-items: start;
  justify-self: start;
  padding: 50px 0;
}
#home {
  position: sticky;
  top: 143px;
  padding-bottom: 15px;
  width: 180px;
  font-size:20px;
  font-weight:bold;
  color:#1c1c1c;
  border-bottom: 3px solid #1c1c1c;
}
#home + #content {
  margin: 45px 0 0 50px;
  width: 100%;
}

#orderList {
  padding: 10px;
  border: 1px solid #868E96;
  display: flex;
  align-items: center;
  justify-content: start;
}
#orderList .order {
  margin: 0 10px;
  color: #495057;
  font-size: 14px;
}
#orderList .order + .order {
  position: relative;
  /* padding-left: ; */
}
#orderList .order + .order::after {
  position: absolute;
  top: 50%;
  left: -10px;
  transform: translateY(-50%);
  width: 1px;
  height: 12px;
  background: #495057;
  content:"";
}
#orderList .order.now {
  color: #1C1C1C;
  font-weight: 600;
}

/* 상품 카드 영역 */
#list ul {
  margin: 60px 0 100px;
  display: grid;
  grid-template-columns: repeat(5, minmax(100px, 1fr));
  gap: 60px 30px;
}

/* 이미지 카드 */
.imgDiv{
  margin-bottom: 10px;
  width:100%;
  height: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.imgDiv img {
  max-width: 100%;
  height: 100%;
  display: block;
  /* border: 1px solid #ADB5BD; */
}

@keyframes overImg {
  0% {
    height: 280px;
    box-shadow:0 0 0 rgba(0,0,0,0);
  }
  100% {
    height: 270px;
    box-shadow:0 2px 8px rgba(0,0,0,0.5); 
  }
}
@keyframes outImg {
  0% {
    height: 270px;
    box-shadow:0 2px 8px rgba(0,0,0,0.5); 
  }
  100% {
    height: 280px;
    box-shadow:0 0 0 rgba(0,0,0,0); 
  }
}

.title {
  margin: 8px 0;
  color: #1C1C1C;
  font-size: 16px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
}
.hprice{
  font-size:16px;
  font-weight: 600;
  color:#1C1C1C;
  display: block;
}
.halinPrice,
.baesongWrap {
  display: flex;
  align-items: center;
  justify-content: start;
}
.halinPrice > * + *,
.baesongWrap > * + * {
  margin-left: 5px;
}
.halinPrice {
  align-items: flex-end;
}
.halin{
  font-size:16px;
  font-weight: 600;
  color:#ff4800;
}
.price{
  text-decoration:line-through;
  color:#868E96;
  font-size: 12px;
}
.baesong, .baeStr{
  margin: 6px 0;
  background:#1c1c1c;
  color:#fff;
  display:inline-block;
  padding:2px 4px;
  border-radius:2px;
  font-size:10px;
  font-weight:600;
}
.juk{
  font-size:12px;
  color: #4A90E2;
  display: block;
}

.paging {
  display: flex;
  align-items: center;
  justify-content: center;
}
.paging a + a {
  margin-left: 20px;
}
.paging .page {
  margin: 0 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.paging .page a {
  width: 30px;
  height: 30px;
  font-size: 24px;
  font-weight: 600;
  color: #868E96;
  text-align: center;
}
.paging .page a#thisPage {
  color: #1C1C1C;
}
.paging .arrow {
  width: 30px;
  height: 30px;
}
.paging .arrow img {
  width: 100%;
  height: 100%;
  display: block;
}
.paging .arrow.not {
  opacity: .5;
  cursor: default;
}