@charset "UTF-8";
/* 공통 */
[class*="btn0"] {
  border: none;
  transition: background .3s ease-in;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  box-sizing: border-box;
}
.btn01 {
  background: #4A90E2;
  /* border: 1px solid #2C6CC9; */
  color: #fff;
}
.btn01:hover {
  background: #2C6CC9;
}
.btn02 {
  background-color: #888;
  /* border: 1px solid #666; */
  color: #fff;
}
.btn02:hover {
  background: #666;
}
.btn03 {
  background: #fff;
  border: 1px solid #4A90E2;
  color: #4A90E2;
}
.btn03:hover {
  border: 1px solid #2C6CC9;
}
.btn04 {
  background: #fff;
  border: 1px solid #888;
  color: #666;
}
.btn04:hover {
  border: 1px solid #666;
  color: #4b4b4b;
}

#payment{
  padding: 50px 0;
  color: #495057;
}
#payment h3.page {
  margin-bottom: 20px;
  padding: 30px 0;
  font-size: 30px;
  color: #1c1c1c;
}
#payment .secBox {
  /* padding: 0 20px; */
}
#payment .secBox + .secBox {
  margin-top: 50px;
  padding-top: 30px;
  /* border-top: 3px solid #EDEDED; */
}
#payment .secBox h4.tit {
  padding: 10px 0;
  font-size: 16px;
  font-weight: 600;
  color: #1c1c1c;
  border-bottom: 1px solid #1c1c1c;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
#payment .secBox h4.tit [class^=btn0] {
  padding: 2px 5px;
  width: auto;
  height: 24px;
  min-width: 60px;
  font-size: 12px;
  border-radius: 3px;
}
#payment table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  /* border-top: 1px solid #1c1c1c;
  border-bottom: 1px solid #1c1c1c; */
}
#payment table th > [class*="btn0"] {
  display: inline-flex;
  margin-left: 10px;
  padding: 0 5px;
  width: 34px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 2px;
  box-shadow: 0 0 3px #999;
  cursor: pointer;
  font-size: 12px;
}
#payment .table01 td {
  padding: 15px 10px;
  border-bottom: 1px solid #ADB5BD;
}
#payment .table01 .prodWrap {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
}
#payment .table01 .prodImg {
  height: 90px;
  flex: 0 0 auto;
}
#payment .table01 .prodImg img {
  margin: 0 auto;
  height: 100%;
  display: block;
  border: 1px solid #EDEDED;
}
#payment .table01 .prodInfo {
  position: relative;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 4px;
  width:100%;
}
#payment .table01 .prodTit {
  font-size: 16px;
  font-weight: 600;
  color: #1c1c1c;
  display: block;
  padding-bottom: 10px;
}
#payment .table01 .prodPrice {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5px;
}
#payment .table01 .prodPrice * + * {
  position: relative;
  margin-left: 10px;
  padding-left: 11px;
  color: #868E96;
}
#payment .table01 .prodPrice * + *::after {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 12px;
  background: #868E96;
  content:"";
}
#payment .table01 .prodFlag {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 2px 5px;
  background: #495057;
  border-radius: 3px;
  font-size: 12px;
  color: #fff;
}
/* #payment .table01 .prodFlag b {
  font-size: 12px;
} */

#payment .table02 {
  margin-top: 30px;
}
#payment .table02 th,
#payment .table02 td {
  padding: 10px;
  text-align: left;
  font-size: 14px;
}

#payment .noList {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#payment .btnWrap {
  margin-top: 50px;
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 2px solid #ededed;
}
#payment .btnWrap [class^=btn0] {
  min-width: 80px;
  height: 40px;
  width: fit-content;
  padding: 5px 10px;
}
#payment .payBox {
  position: relative;
  margin-top: 30px;
  padding: 0 10px;
}
#payment .payBtn {
  padding-right: 30px;
  border-right: 1px solid #ADB5BD;
  line-height: 30px;
  display: inline-block;
  font-size: 14px;
}
#payment .pay {
  position: absolute;
  top: 0;
  left: 160px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  display: none;
}
#payment select, input[type=text] {
  padding: 5px;
  width: 120px;
  height: 30px;
  box-sizing: border-box;
  border: 1px solid #495057;
  color: #495057;
  background: #fff;
  outline: none;
}
#payment .fontBlue {
  color: #4A90E2;
}

#myPay {
  position: relative; /* 자식 절대 위치 기준 */
}
#couponLayer {
  display: none;
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  max-height: 300px;
  text-align: center;
  overflow-y: auto;
  z-index: 1000;
}
#couponLayer ul {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 10px;
}
#couponLayer ul li {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 6px;
}
#couponLayer input[type=button] {
  display: inline-flex;
  padding: 0 5px;
  width: 44px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 2px;
  box-shadow: 0 0 3px #999;
  cursor: pointer;
  font-size: 12px;
}