/* 공통 */
[class*="btn0"] {
  border: none;
  transition: background .3s ease-in;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  width: 80px;
  height: 40px;
  box-sizing: border-box;
}
.btn01 {
  background: #4A90E2;
  /* border: 1px solid #2C6CC9; */
  color: #fff;
}
.btn01:hover {
  background: #2C6CC9;
}
.btn02 {
  background-color: #888;
  /* border: 1px solid #666; */
  color: #fff;
}
.btn02:hover {
  background: #666;
}
.btn03 {
  background: #fff;
  border: 1px solid #4A90E2;
  color: #4A90E2;
}
.btn03:hover {
  border: 1px solid #2C6CC9;
}
.btn04 {
  background: #fff;
  border: 1px solid #888;
  color: #666;
}
.btn04:hover {
  border: 1px solid #666;
  color: #4b4b4b;
}

.flexBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* 상품등록 */
#registBook {
  padding: 50px 0;
  color: #495057;
}
#registBook h3.page {
  margin-bottom: 20px;
  padding: 30px 0;
  font-size: 30px;
  color: #1c1c1c;
}
#registBook .tableBg {
  padding: 50px;
  background-color: #F0F6FB;
  border-top: 1px solid #1c1c1c;
}
#registBook table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
}
#registBook table th,
#registBook table td {
  padding: 0 5px;
  color: #1c1c1c;
}
#registBook table th {
  position: relative;
  text-align: left;
  padding-top: 10px;
}
#registBook table td input:not(.btn01),
#registBook table td select {
  margin: 5px 0;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #495057;
  color: #495057;
  background: #fff;
  outline: none;
}
#registBook table td input[type="button"] {
  box-sizing: border-box;
  outline: none;
  flex: 0 0 auto;
}
#registBook table td input[type="text"],
#registBook table td select {
  padding: 10px;
  height: 40px;
}
#registBook table td .flexBox * + input,
#registBook table td .flexBox * + select {
  margin-left: 10px;
}
#registBook .btnWrap {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-self: center;
}

/* 상품목록 */
/* 게시판목록 */
#list {
  padding: 50px 0;
  color: #495057;
}
#list h3.page {
  margin-bottom: 20px;
  padding: 30px 0;
  font-size: 30px;
  color: #1c1c1c;
}
#list table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  border-top: 1px solid #1c1c1c;
  border-bottom: 1px solid #1c1c1c;
}
#list table th,
#list table td {
  padding: 15px 10px;
  color: #1c1c1c;
}
#list table th {
  border-bottom: 1px solid #1c1c1c;
}
#list table tr:not(:first-child) td {
  border-top: 1px solid #ADB5BD;
}
#list table td:not(.tit) {
  text-align: center;
}
#list table td.tit a:hover {
  text-decoration: underline;
}
#list table td .btnWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#list table td .btnWrap [class^="btn"] {
  padding: 5px;
  width: 60px;
}
#list table td .btnWrap [class^="btn"] + [class^="btn"] {
  margin-top: 5px;
}
#list table td .noList {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#list table + .btnWrap {
  margin-top: 20px;
  display: flex;
  justify-content: end;
}
#list table + .btnWrap [class^="btn"] {
  width: 80px;
  height: 40px;
}
#list table + .btnWrap [class^="btn"] +  [class^="btn"] {
  margin-left: 10px;
}
